
@model KittenUrl.Models.KittenUrlModel
@{
    ViewData["Title"] = "Home Page";
}


<section id="urlForm">
    <form enctype="application/x-www-form-urlencoded" method="POST" action="home/shorten">
        <label for="url">
            URL
        </label>
        <input type="url" name="url" />
        <button type="submit">Shorten My Url!</button>
    </form>
</section>

@if(Model.ShortUrl != null)
{
<div>
    <h1>Your original url:</h1>
    <label>@Model.LongUrl</label>
    <h1>Your kittenurl: </h1>
    <label>@Model.ShortUrl</label>
</div>
}